@import 'config';

.sidebar {
  width: $sidebar-width;
  position: fixed;
  // z-index: 105;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $sidebar-bg !important;
  font-family: 'Avenir', sans-serif;
  padding-bottom: 10px;
  overflow-y: auto;
  border-right: 1.5px solid $sidebar-stroke;

  &::-webkit-scrollbar {
    display: none;
  }

  &-logo {
    padding-top: 15px;
    img {
        width: 30px;
    }
    .logo-link {
      padding-top: 0.43rem;
      padding-bottom: 1rem;
    }
  }
  &-menu {
    .item {
        // padding-left: 1rem;
        // padding-right: 1rem;
        margin-bottom: 1.5rem;
        img {
            width: 30px;
        }
        &.orders {
            background-color: $orders-bg;
            border-radius: 5px;
            padding: 10px;
        }
    }
  }
}

.auth {
    &-contain {
        background-color: #edeef0;
        min-height: 100vh;
        background-image: url("../images/logistics_bg.png"), url('../images/base_1.svg'), url("../images/base_2.svg");
        background-repeat: no-repeat;
        background-size: 35%,cover, cover;
        background-position-y: 30%, 80%, 80%;
        background-position-x: right;
        padding-left: 8rem;
        padding-top: 3rem;
        // padding-top: 3rem;
    }
    &-form {
        background-color: #ffffff;
        max-width: 585px;
        border-radius: 8px;
        padding-top: 1rem;
        padding-bottom: 3rem;
        box-shadow: 0px 0px 7px 0px #0000003b;

        &-head {
            img {
                width: 55px;
            }
            h3 {
                font-family: $zonaregular;
            }
        }

        &-content {
            width: 75%;
            margin: 0 auto;
        }
        &-title {
            font-weight: bold;
            margin-left: 12px;
            margin-right: 12px;
            color: #333333;
            font-family: 'ZonaPro-Black', sans-serif;
        }
        &-line {
            height: 2px;
            background-color: #ff00003d;
            flex-grow: 1;
        }
        &-footer {
            font-family: 'ZonaPro-Light', sans-serif;
            p {
                color: #00000099;
            }
            a {
                text-decoration: none;
                color: #96E1EC;
                transition: all 0.3s;
        
                &:hover {
                    color: #79a6ae;
                }
            }
        }
        .forgot-link, .rem-label, .sign-label {
            font-size: 13px;
        }
        .rem-label {
            font-family: $zonaregular;
            color: #000000a1;
            vertical-align: middle;
        }
        .forgot-link {
            font-family: $zonasemibold;
            color: $auth-link;
            text-decoration: none;
        }
        .sign-label {
            font-family: $zonathin;
            color: #00000059;
            a {
                color: $auth-link;
                text-decoration: none;
            }
        }
    }
    &-btn {
        background-color: #C0D7DB;
        color: #666666;
        border-radius: 5px;
        border: none;
        padding: 0.7rem 1rem;
        font-size: 18px;
        font-family: $zonaregular;
        transition: all 0.3s;

        &:hover {
            background-color: #79a6ae;
        }
    }
}
.inp-group {
    position: relative;
    width: 100%;
    border: 1px solid #82828284;
    border-radius: 5px;
    padding: 5px 15px;

    img {
        // position: absolute;
        width: 25px;
    }

    input {
        width: 100%;
        color: #828282;
        border: none;
        font-family: $zonaregular;;
        &:focus {
            border: none;
            outline: none;
        }
        padding: 5px 10px;
    }

    // &:focus-within {}
}

.app {
    &-wrapper {
        margin-left: $sidebar-width;
        background-color: #AACCFF;
    }
}
.track {
    &-main {
        max-width: 400px;
        background-color: rgba(255 ,255,255, 0.75);
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 1rem;
        min-height: 100vh;
    }
    &-search {
        background-color: #ffffff;
        border: 1.5px solid #ECEEF6;
        border-radius: 6px;
        padding: 0.75rem 1.05rem;

        input {
            border: none;
            font-family: 'Product Sans', sans-serif;
            flex-grow: 1;
            color: #7e7e7e;
            padding-left: 0.65rem;
            padding-right: 0.65rem;
        }
        @extend %formpseudo;

        img {
            width: 25px;
        }
    }
}

@import 'mobile';